ipython
scipy
sklearn
matplotlib
scikit-optimize
seaborn
tensorflow-probability==0.12.2
jupyter
jupyterlab
notebook
pandas
mpi4py
deepxde
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
