ipython
scipy
sklearn
matplotlib
scikit-optimize
seaborn
tensorflow-probability==0.12.2
jupyter
jupyterlab
notebook
pandas
mpi4py
deepxde
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
